* {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

body {
    background-color: #FFF;
    color           : #777;
    font-family     : 'Raleway', Arial, Helvetica, sans-serif;
    font-size       : 14px;
    line-height     : 26px;
    margin          : 0;
}

.text-primary,
.text-color-primary {
    color: #C10029 !important;
}

.bg-color-primary,
.bg-primary {
    background-color: #C10029 !important;
}

.highlighted-word {
    font-family: "Shadows Into Light", cursive;
    font-weight: 500;
}

.font-weight-semibold {
    font-weight: 600 !important;
}

.text-uppercase {
    text-transform: uppercase !important;
}

.text-1 {
    font-size: .8em !important;
}

.text-4 {
    font-size: 1.2em !important;
}

.text-5 {
    font-size: 1.50em !important;
}

$primary-color-lafayette:#C10029;

.btn-primary {
    @include button-variant($primary-color-lafayette, darken($primary-color-lafayette, 7.5%), darken($primary-color-lafayette, 10%), lighten($primary-color-lafayette, 5%), lighten($primary-color-lafayette, 10%), darken($primary-color-lafayette, 30%));
}

.btn-outline-primary {
    @include button-outline-variant($primary-color-lafayette, #222222, lighten($primary-color-lafayette, 5%), $primary-color-lafayette);
}

/* Style the header */

.header {
    border-top  : 3px solid #EDEDED;
    border-color: #C10029 !important;

    .nav-item-borders {
        &:first-child {
            padding-left: 0;
        }

        border-right : 1px solid rgba(0, 0, 0, 0.06);
        padding-left : 12px;
        padding-right: 12px;


    }

    .header-top {
        display          : -webkit-box;
        display          : -ms-flexbox;
        display          : flex;
        -webkit-box-align: center;
        -ms-flex-align   : center;
        align-items      : center;
        border-bottom    : 2px solid rgba(0, 0, 0, 0.06);
        min-height       : 47px;
    }

    .header-top.header-top-borders {
        border-bottom-width: 1px;
    }

    .header-nav-top .nav>li>span {
        color    : #999;
        font-size: 0.9em;
        padding  : 6px 10px;
        display  : inline-block;
    }

    .header-nav-top .nav>li>span .icons {
        margin-right: 3px;
        font-size   : 0.8em;
        position    : relative;
    }

    .header-nav-top .nav>li>a {
        text-decoration: none;
    }

    .header-nav-top .nav>li>a,
    .header-nav-top .nav>li>span {
        color    : #999;
        font-size: 0.9em;
        padding  : 6px 10px;
        display  : inline-block;
    }

    .header-nav-top .nav>li.nav-item:not(.dropdown)>a [class*="fa-"],
    .header-nav-top .nav>li.nav-item:not(.dropdown)>a .icons {
        left: -1px;
        top : -1px;
    }

    .header-nav-top .nav>li>a [class*="fa-"],
    .header-nav-top .nav>li>a .icons,
    .header-nav-top .nav>li>span [class*="fa-"],
    .header-nav-top .nav>li>span .icons {
        margin-right: 3px;
        font-size   : 0.8em;
        position    : relative;
    }

    .header-logo {
        margin  : 16px 0;
        margin  : 1rem 0;
        position: relative;
        z-index : 1;
    }

    .header-extra-info {
        list-style: outside none none;
        margin    : 0;
        padding   : 0;
    }

    .header-extra-info li {
        display    : -webkit-inline-box;
        display    : -ms-inline-flexbox;
        display    : inline-flex;
        margin-left: 25px;
    }

    .header-extra-info li .header-extra-info-text label {
        display    : block;
        margin     : 0;
        color      : #999;
        font-size  : 12px;
        font-size  : 0.75rem;
        line-height: 1.2;
    }

    .header-extra-info li .header-extra-info-text a {
        color: #333;
    }

    .sticky-box {
        background-color: white;

        &.fixed-top {
            border-top        : 3px solid #EDEDED;
            border-color      : #C10029 !important;
            -webkit-box-shadow: 0px -3px 19px 0px rgba(0, 0, 0, 0.75);
            -moz-box-shadow   : 0px -3px 19px 0px rgba(0, 0, 0, 0.75);
            box-shadow        : 0px -3px 19px 0px rgba(0, 0, 0, 0.75);
        }
    }

}

.home-intro {
    background-color: #212529;
    margin-bottom   : 60px;
    overflow        : hidden;
    padding         : 38.4px 0;
    padding         : 2.4rem 0;
    position        : relative;
    text-align      : left;
}

.home-intro p {
    color        : #FFF;
    display      : inline-block;
    font-size    : 1.4em;
    font-weight  : 600;
    margin-bottom: 0;
}

.home-intro p span:not(.highlighted-word) {
    color      : #FFF;
    display    : block;
    font-size  : 0.8em;
    font-weight: 300;
    padding-top: 5px;
    opacity    : 0.7;
}

.shop .products .product {
    position     : relative;
    margin-bottom: 30px;
}

.product-thumb-info {
    -webkit-transition: all 0.2s;
    transition        : all 0.2s;
    padding           : 0;
    position          : relative;
    border            : 0;
    border-bottom     : 3px solid #E3E4E8;
    background        : #F7F9FC;
    display           : block;
    overflow          : hidden;
    position          : relative;
    text-decoration   : none;
    max-width         : 100%;
    text-align        : center;
    border            : 1px solid #DDD;
    text-decoration   : none;
}

.product-thumb-info a {
    text-decoration: none;
    display        : inline-block;
    width          : 100%;
}

.product-thumb-info:hover {
    background-color: #FFF;
    text-decoration : none;
}

.product-thumb-info a:hover {
    text-decoration: none;
    display        : inline-block;
    width          : 100%;
}

.shop .products .product .add-to-cart-product {
    -webkit-transition: all 0.2s;
    transition        : all 0.2s;
    position          : absolute;
    top               : -100%;
    left              : 0;
    padding           : 8px 10px 5px;
    font-size         : 0.9em;
    color             : #FFF;
    background        : #222;
    z-index           : 1;
    opacity           : 0;
    -webkit-transform : translate3d(0, 0, 0);
    transform         : translate3d(0, 0, 0);
}

.shop .products .product:hover .add-to-cart-product {
    opacity: 1;
    top    : 0;
}

.product-thumb-info .product-thumb-info-image {
    display : block;
    position: relative;
}

.product-thumb-info .product-thumb-info-image:before {
    -webkit-transition: all 0.2s;
    transition        : all 0.2s;
    content           : "";
    display           : block;
    position          : absolute;
    top               : 0;
    left              : 0;
    right             : 0;
    bottom            : 0;
    background        : #FFF;
    width             : 100%;
    height            : 100%;
    opacity           : 0;
}

.product-thumb-info .product-thumb-info-content {
    padding   : 15px;
    text-align: left;
    display   : block;
}

.product-thumb-info:hover .product-thumb-info-image:before {
    opacity: 0.4;
}

.product-thumb-info .product-thumb-info-image:before {
    -webkit-transition: all 0.2s;
    transition        : all 0.2s;
    content           : "";
    display           : block;
    position          : absolute;
    top               : 0;
    left              : 0;
    right             : 0;
    bottom            : 0;
    background        : #FFF;
    width             : 100%;
    height            : 100%;
    opacity           : 0;
}

.shop .products .product a {
    text-decoration: none;
}

.page-header.page-header-modern.page-header-background.page-header-background-sm {
    padding: 50px 0;
}

.page-header.page-header-modern.page-header-background {
    padding        : 130px 0;
    background-size: cover;
}

.overlay {
    position: relative;
}

.page-header {
    background-color: #212529;
    margin          : 0 0 35px 0;
    padding         : 30px 0;
    position        : relative;
    text-align      : left;
}

.overlay.overlay-op-8:hover:before,
.overlay.overlay-op-8.overlay-show:before,
.overlay.overlay-op-8.show:before {
    opacity: 0.8;
}

html .overlay-color-primary:not(.no-skin):before {
    background-color: #C10029 !important;
}

.overlay:hover:before,
.overlay.overlay-show:before,
.overlay.show:before {
    opacity: 0.8;
}

.overlay:before {
    content           : ' ';
    position          : absolute;
    top               : 0;
    right             : 0;
    bottom            : 0;
    left              : 0;
    z-index           : 0;
    background        : #212529;
    opacity           : 0;
    pointer-events    : none;
    -webkit-transition: ease opacity 300ms 100ms;
    transition        : ease opacity 300ms 100ms;
}

.page-header.page-header-modern h1 {
    font-size: 28px;
}

.page-header h1 {
    color      : #fff;
    display    : inline-block;
    font-size  : 30px;
    line-height: 1;
    margin     : 0;
    padding    : 0;
    font-weight: 400;
    position   : relative;
    top        : 1px;
}

.featured-box {
    background        : #FFF;
    -webkit-box-sizing: border-box;
    box-sizing        : border-box;
    border-bottom     : 1px solid #DFDFDF;
    border-left       : 1px solid #ECECEC;
    border-radius     : 8px;
    border-right      : 1px solid #ECECEC;
    -webkit-box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.05);
    box-shadow        : 0 2px 4px 0px rgba(0, 0, 0, 0.05);
    margin-bottom     : 20px;
    margin-left       : auto;
    margin-right      : auto;
    margin-top        : 20px;
    min-height        : 100px;
    position          : relative;
    text-align        : center;
    z-index           : 1;
}

.featured-box .box-content:not(.box-content-border-0) {
    top             : -1px;
    border-top-width: 4px;
}

html .featured-box-primary .box-content {
    border-top-color: #C10029;
}

.featured-box .box-content {
    border-radius   : 8px;
    border-top      : 1px solid rgba(0, 0, 0, 0.06);
    border-top-width: 4px;
    padding         : 28.8px;
    padding         : 1.8rem;
    position        : relative;
}