<template>
  <div class="body">
    <section
      class="page-header page-header-modern page-header-background page-header-background-sm overlay overlay-color-primary overlay-show overlay-op-8 mb-5"
      style="background-image: url(img/banner1920.jpg)"
    >
      <div class="container">
        <div class="row">
          <div class="col-md-12 align-self-center p-static order-2 text-center">
            <h1><b>Genera tu Cupón Promocional</b></h1>
          </div>
        </div>
      </div>
    </section>
    <div class="col-lg-12">
      <div class="row justify-content-lg-center">
        <div class="featured-box featured-box-primary text-left mt-0">
          <div class="box-content">
            <div class="overflow-hidden mb-1">
              <h2 class="font-weight-normal text-7 mb-0">
                <strong class="font-weight-extra-bold">Genera aquí</strong> tu
                cupón
              </h2>
            </div>
            <div class="overflow-hidden mb-4 pb-3">
              <p class="mb-0">
                Genera en el siguiente formulario el cupón de descarga de
                patrones.
              </p>
            </div>
            <form role="form" class="needs-validation" novalidate="novalidate">
              <div class="form-group row">
                <label
                  class="col-lg-3 font-weight-bold text-dark col-form-label form-control-label text-2 required"
                  >Nombres del Cliente</label
                >
                <div class="col-lg-9">
                  <input
                    v-model="client.name"
                    class="form-control"
                    required=""
                    type="text"
                    placeholder="Nombre cliente"
                  />
                </div>
              </div>
              <div class="form-group row">
                <label
                  class="col-lg-3 font-weight-bold text-dark col-form-label form-control-label text-2 required"
                  >Apellidos del Cliente</label
                >
                <div class="col-lg-9">
                  <input
                    v-model="client.last_name"
                    class="form-control"
                    required=""
                    type="text"
                    placeholder="Apellido cliente"
                  />
                </div>
              </div>
              <div class="form-group row">
                <label
                  class="col-lg-3 font-weight-bold text-dark col-form-label form-control-label text-2 required"
                  >Cédula</label
                >
                <div class="col-lg-9">
                  <input
                    v-model="client.document"
                    class="form-control"
                    required=""
                    type="number"
                    placeholder="# de Cédula"
                  />
                </div>
              </div>
              <div class="form-group row">
                <label
                  class="col-lg-3 font-weight-bold text-dark col-form-label form-control-label text-2 required"
                  >Email</label
                >
                <div class="col-lg-9">
                  <input
                    v-model="client.email"
                    class="form-control"
                    required=""
                    type="email"
                    placeholder="email@gmail.com"
                  />
                </div>
              </div>
              <div class="form-group row">
                <label
                  class="col-lg-3 font-weight-bold text-dark col-form-label form-control-label text-2 required"
                  >Teléfono</label
                >
                <div class="col-lg-9">
                  <input
                    v-model="client.phone"
                    class="form-control"
                    required=""
                    type="number"
                    placeholder="Télefono fijo o Celular"
                  />
                </div>
              </div>
              <div class="form-group row">
                <label
                  class="col-lg-3 font-weight-bold text-dark col-form-label form-control-label text-2"
                  >Empresa</label
                >
                <div class="col-lg-9">
                  <input
                    class="form-control"
                    type="text"
                    placeholder=""
                    v-model="client.company"
                  />
                </div>
              </div>
              <div class="form-group row">
                <label
                  class="col-lg-3 font-weight-bold text-dark col-form-label form-control-label text-2"
                  >Sitio Web</label
                >
                <div class="col-lg-9">
                  <input
                    class="form-control"
                    type="url"
                    placeholder=""
                    v-model="client.web"
                  />
                </div>
              </div>
              <div class="form-group row">
                <label
                  class="col-lg-3 font-weight-bold text-dark col-form-label form-control-label text-2"
                  >Dirección</label
                >
                <div class="col-lg-9">
                  <input
                    v-model="client.address"
                    class="form-control"
                    type="text"
                    value=""
                    placeholder="Calle/Cra/Av"
                  />
                </div>
              </div>
              <div class="form-group row">
                <label
                  class="col-lg-3 font-weight-bold text-dark col-form-label form-control-label text-2"
                ></label>
                <div class="col-lg-6">
                  <input
                    v-model="client.city"
                    class="form-control"
                    type="text"
                    value=""
                    placeholder="Ciudad"
                  />
                </div>
                <div class="col-lg-3">
                  <input
                    v-model="client.location"
                    class="form-control"
                    type="text"
                    value=""
                    placeholder="Municipio"
                  />
                </div>
              </div>
              <div class="form-group row">
                <label
                  class="col-lg-3 font-weight-bold text-dark col-form-label form-control-label text-2"
                  >Tienda donde se realizo la compra</label
                >
                <div class="col-lg-9">
                  <select
                    v-model="branch_id"
                    class="form-control valid"
                    size="0"
                    aria-invalid="false"
                  >
                    <option value="" selected="selected">
                      Seleccione una opción
                    </option>
                    <option
                      v-for="branch in branches_array"
                      :value="branch.id"
                      :key="branch.id"
                    >
                      {{ branch.name }}
                    </option>
                  </select>
                </div>
              </div>
              <validation-errors
                :errors="validationErrors"
                v-if="validationErrors"
              ></validation-errors>
              <div class="form-group row">
                <div class="form-group col-lg-9"></div>
                <div class="form-group col-lg-3">
                  <input
                    type="button"
                    value="Generar Cupón"
                    class="btn btn-primary btn-modern float-right"
                    @click="generateCoupon()"
                  />
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  mounted() {
    this.getBranches();
  },
  data() {
    return {
      client: {
        name: "",
        last_name: "",
        document: "",
        email: "",
        phone: "",
        company: "",
        web: "",
        address: "",
        city: "",
        location: "",
      },
      branch_id: "",
      validationErrors: "",
      branches_array: Array,
    };
  },
  methods: {
    getBranches() {
      let me = this;
      let url = "/api/branches";
      axios
        .get(url)
        .then(function (response) {
          //creamos un array y guardamos el contenido que nos devuelve el response
          console.log(response);
          me.branches_array = response.data.data;
        })
        .catch(function (error) {
          // handle error
          console.log(error);
        });
    },
    generateCoupon() {
      let url = "/api/coupons/generate";
      axios
        .post(url, {
          branch_id: this.branch_id,
          client: this.client,
        })
        .then((response) => {
          this.validationErrors = "";
          swal.fire({
            title: "Cupón Generado",
            html: `El codigo del cupon es: <div class="text-primary"><strong>${response.data.data.code}</strong></div><div class="mt-3">Tambien se ha enviado al correo del cliente y de la empresa el cupón</div>`,
            icon: "success",
            allowOutsideClick: false,
          });
        })
        .catch((error) => {
          if (error.response) {
            if (error.response.status == 422) {
              this.validationErrors = error.response.data.errors;
              swal.fire({
                title: "Error",
                html: `Error en los datos`,
                icon: "error",
                allowOutsideClick: false,
              });
            } else {
              swal.fire({
                title: "Error",
                html: `Error en el sistema`,
                icon: "error",
                allowOutsideClick: false,
              });
            }
          }
        });
    },
  },
};

/* 
Vue.component("validation-errors", {
  data() {
    return {};
  },
  props: ["errors"],
  template: `<div v-if="validationErrors">
                        <ul class="alert alert-danger">
                            <li v-for="(value, key, index) in validationErrors">@{{ value }}</li>
                        </ul>
                    </div>`,
  computed: {
    validationErrors() {
      let errors = Object.values(this.errors);
      errors = errors.flat();
      return errors;
    },
  },
}); */
</script>
