<template>
  <div class="header">
    <div class="header-top header-top-borders">
      <div class="container h-100">
        <div class="header-row h-100">
          <div class="header-column justify-content-start">
            <div class="header-row">
              <nav class="header-nav-top">
                <ul class="nav nav-pills">
                  <li class="nav-item nav-item-borders py-2">
                    <span class="pl-0"
                      ><i
                        class="far fa-dot-circle text-4 text-color-primary"
                        style="top: 1px"
                      ></i>
                      Calle 15 #72-95</span
                    >
                  </li>
                  <li
                    class="nav-item nav-item-borders py-2 d-none d-lg-inline-flex"
                  >
                    <a href="tel:123-456-7890"
                      ><i
                        class="fab fa-whatsapp text-4 text-color-primary"
                        style="top: 0"
                      ></i>
                      (+57) 15141082</a
                    >
                  </li>
                  <li
                    class="nav-item nav-item-borders py-2 d-none d-sm-inline-flex"
                  >
                    <a href="mailto:mail@domain.com"
                      ><i
                        class="far fa-envelope text-4 text-color-primary"
                        style="top: 1px"
                      ></i>
                      soporte@lafayette.com</a
                    >
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="sticky-box" id="header-container">
      <div class="header-container container">
        <div class="row py-2">
          <div class="col-6">
            <div class="header-logo">
              <router-link to="/">
                <img
                  alt="Lafayette"
                  width="150"
                  height="60"
                  :src="asset('img/logo.png')"
                />
              </router-link>
            </div>
          </div>
          <div class="col-6">
            <div class="row justify-content-end align-items-center h-100">
              <ul class="header-extra-info d-flex align-items-center mr-3">
                <li class="d-none d-sm-inline-flex">
                  <div class="header-extra-info-text">
                    <label>EMAIL</label>
                    <strong
                      ><a href="mailto:mail@example.com"
                        >servicioalcliente@lafayette.com
                      </a></strong
                    >
                  </div>
                </li>
                <li>
                  <div class="header-extra-info-text">
                    <label>COLOMBIA:</label>
                    <strong><a href="tel:8001234567">+57(1) 2948880</a></strong>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "header-component",
  mounted() {
    console.log(process.env.MIX_APP_URL);
  },
};
</script>
