<template>
  <div class="body">
    <div class="banner">
      <img
        :src="asset('img/banner.jpg')"
        class="img-fluid"
        alt="Responsive image"
      />
    </div>

    <div class="home-intro" id="home-intro">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-8">
            <p>
              Encuentra tus categorías y explora nuestras telas
              <span
                class="highlighted-word text-color-primary font-weight-semibold text-5"
                >Tecnología y desempeño</span
              >
              <span>Obtén tu asesoría virtual sin costo.</span>
            </p>
          </div>
          <div class="col-lg-4">
            <div class="get-started text-left text-lg-right">
              <a
                href="#"
                class="btn btn-primary btn-lg text-3 font-weight-semibold px-4 py-3"
                >Obtener Asesoría sin costo!</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="main shop">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <product-list-component></product-list-component>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "home",
};
</script>
