<template>
  <div class="row products">
    <Product
      v-for="product in productsArray"
      v-bind:key="product.id"
      :product="product"
    ></Product>
  </div>
</template>

<script>
import Product from "./ProductComponent";

export default {
  components: {
    Product,
  },
  mounted() {
    this.getProducts();
  },
  data() {
    return {
      productsArray: [],
    };
  },
  methods: {
    getProducts() {
      let me = this;
      let url = "/api/products";
      axios
        .get(url)
        .then(function (response) {
          //creamos un array y guardamos el contenido que nos devuelve el response
          console.log(response);
          me.productsArray = response.data.data;
        })
        .catch(function (error) {
          // handle error
          console.log(error);
        });
    },
  },
};
</script>
