<template>
  <div class="body">
    <section
      class="page-header page-header-modern page-header-background page-header-background-sm overlay overlay-color-primary overlay-show overlay-op-8 mb-5"
      v-bind:style="{
        backgroundImage: 'url(' + asset('img/banner1920.jpg') + ')',
      }"
    >
      <div class="container">
        <div class="row">
          <div class="col-md-12 align-self-center p-static order-2 text-center">
            <h1>
              <b>Descargar producto</b>
            </h1>
          </div>
        </div>
      </div>
    </section>

    <div class="main shop">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <img :alt="product.name" class="img-fluid" :src="product.image" />
          </div>
          <div class="col-lg-6">
            <div class="summary entry-summary">
              <h1 class="mb-0 font-weight-bold text-7">{{ product.name }}</h1>
              <p class="mb-4">
                {{ product.description }}
              </p>
              <div
                class="product-meta"
                v-for="attribute in product.attributes"
                v-bind:key="attribute.id"
              >
                <span class="posted-in text-capitalize"
                  >{{ attribute.name }}: {{ attribute.pivot.value }}.</span
                >
              </div>

              <button
                href="#"
                class="btn btn-primary btn-modern text-uppercase mt-4"
                @click="downloadPattern()"
              >
                Descargar Patrón
              </button>
            </div>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col">
            <div class="tabs tabs-product mb-2">
              <ul class="nav nav-tabs">
                <li class="nav-item active">
                  <a
                    class="nav-link py-3 px-4"
                    href="#productDescription"
                    data-toggle="tab"
                    >Descripción</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link py-3 px-4"
                    href="#productInfo"
                    data-toggle="tab"
                    >Información Adicional</a
                  >
                </li>
              </ul>
              <div class="tab-content p-0">
                <div class="tab-pane p-4 active" id="productDescription">
                  <p>
                    Vestibulum ante ipsum primis in faucibus orci luctus et
                    ultrices posuere cubilia Curae; Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit. Fusce sagittis, massa fringilla
                    consequat blandit, mauris ligula porta nisi, non tristique
                    enim sapien vel nisl. Suspendisse vestibulum lobortis
                    dapibus.
                  </p>
                  <p class="m-0">
                    Vestibulum ante ipsum primis in faucibus orci luctus et
                    ultrices posuere cubilia Curae; Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit. Fusce sagittis, massa fringilla
                    consequat blandit, mauris ligula porta nisi, non tristique
                    enim sapien vel nisl. Suspendisse vestibulum lobortis
                    dapibus. Vestibulum ante ipsum primis in faucibus orci
                    luctus et ultrices posuere cubilia Curae;
                  </p>
                </div>
                <div class="tab-pane p-4" id="productInfo">
                  <table class="table m-0">
                    <tbody>
                      <tr>
                        <th class="border-top-0">Size:</th>
                        <td class="border-top-0">Unique</td>
                      </tr>
                      <tr>
                        <th>Colors</th>
                        <td>Red, Blue</td>
                      </tr>
                      <tr>
                        <th>Material</th>
                        <td>100% Leather</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    id: String | Number,
  },
  mounted() {
    this.getProduct(this.id);
  },
  data() {
    return {
      product: {
        name: "Cargando ...",
        image: "http://via.placeholder.com/250x250",
      },
    };
  },
  methods: {
    getProduct(id) {
      let me = this;
      let url = "/api/products/" + id;
      axios
        .get(url)
        .then(function (response) {
          //creamos un array y guardamos el contenido que nos devuelve el response
          console.log(response);
          me.product = response.data.data;
        })
        .catch(function (error) {
          // handle error
          console.log(error);
        });
    },
    downloadPattern() {
      swal
        .fire({
          title: "Inserta tu cupón",
          input: "text",
          inputAttributes: {
            autocapitalize: "off",
          },
          showCancelButton: true,
          cancelButtonText: "Cancelar",
          confirmButtonText: "Descargar",
          showLoaderOnConfirm: true,
          preConfirm: (coupon) => {
            return axios
              .post(
                `${process.env.MIX_APP_URL}/api/coupons/check?coupon=${coupon}`
              )
              .then((response) => {
                console.log(response);
                if (response.status != 200) {
                  throw new Error(response.statusText);
                }
                return response.data.data;
              })
              .catch((error) => {
                swal.showValidationMessage(
                  `Consulta fallo: ${error.response.data.errors[0]}`
                );
              });
          },
          allowOutsideClick: () => !swal.isLoading(),
        })
        .then((result) => {
          console.log(result);
          if (result.isConfirmed) {
            window.open(
              `${process.env.MIX_APP_URL}/api/products/download/${this.id}?coupon=${result.value.code}`,
              "_blank"
            );
          }
        });
    },
  },
};
</script>
