<template>
  <div class="col-sm-6 col-lg-4 product">
    <span class="product-thumb-info border-0 p-3">
      <router-link
        :to="{ name: 'product_view', params: { id: product.id } }"
        class="add-to-cart-product bg-color-primary"
      >
        <span class="text-uppercase text-1">Ver Producto</span>
      </router-link>
      <router-link :to="{ name: 'product_view', params: { id: product.id } }">
        <span class="product-thumb-info-image">
          <img :alt="product.name" class="img-fluid" :src="product.image" />
        </span>
      </router-link>
      <span
        class="product-thumb-info-content product-thumb-info-content pl-0 bg-color-light"
      >
        <router-link :to="{ name: 'product_view', params: { id: product.id } }">
          <h4 class="text-4 text-primary ml-2">{{ product.name }}</h4>
        </router-link>
      </span>
    </span>
  </div>
</template>

<script>
export default {
  props: {
    product: Object,
  },
};
</script>
